
<div class="container">
  <div class="row">
    <div class="col-md-7 mx-auto py-5">
      <ul class="list-group" *ngFor="let u of user">
        <li class="list-group-item active">User id: {{u.admin_id}}</li>
        <li class="list-group-item">Name: {{u.admin_name}}</li>
        <li class="list-group-item">Email: {{u.admin_email}}</li>
        <li class="list-group-item">password: {{u.password}}</li>
        <li class="list-group-item">Role id: {{u.role_id}}</li>
        <li class="list-group-item">Created At: {{u.created_at | date}}</li>

      </ul>
    </div>

  </div>
</div>
