
<mat-toolbar class="d-flex justify-content-between">
  <div>
    <h1>Admin List</h1>
  </div>
  <div>
    <button class="btn btn-primary" (click)="createBtnHandler()">
      Create New Admin
    </button>
  </div>
</mat-toolbar>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="admin_id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let admin" class="me-5">{{ admin.admin_id }}</td>
  </ng-container>

  <ng-container matColumnDef="admin_name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let admin">{{ admin.admin_name }}</td>
  </ng-container>

  <ng-container matColumnDef="admin_email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let admin">{{ admin.admin_email }}</td>
  </ng-container>

  <ng-container matColumnDef="role_name">
    <th mat-header-cell *matHeaderCellDef>Role name</th>
    <td mat-cell *matCellDef="let admin">{{ admin.role_name }}</td>
  </ng-container>
  <ng-container matColumnDef="is_active">
    <th mat-header-cell *matHeaderCellDef>is Active</th>
    <td mat-cell *matCellDef="let admin">{{ admin.is_active }}</td>
  </ng-container>
  <ng-container matColumnDef="created_at">
    <th mat-header-cell *matHeaderCellDef>Created at</th>
    <td mat-cell *matCellDef="let admin">{{ admin.created_at | date }}</td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let admin">
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/dashboard/admin/new',admin.admin_id]" >
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
        <button mat-menu-item [routerLink]="['/dashboard/admin/view',admin.admin_id]" >
          <mat-icon>View</mat-icon>
          <span>View</span>
        </button>

        <button mat-menu-item (click)="onDelete(admin.admin_id)">
          <mat-icon>delete</mat-icon>
          <span> Delete </span>
        </button>
      </mat-menu>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
